<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <a href="/addon-antivirus/2-0/index.html">ClamAV for PCF</a>
      </li>
      <li>
        <a href="/addon-antivirus/2-0/release-notes.html">Release Notes</a>
      </li>
      <li class="has_submenu">
        <span><strong>Installing</strong></span>
        <ul>
          <li>
            <a href="/addon-antivirus/2-0/install-mirror.html">Installing the ClamAV Mirror for PCF</a>
          </li>
          <li>
            <a href="/addon-antivirus/2-0/install.html">Installing ClamAV for PCF</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/addon-antivirus/2-0/updating-databases.html">Updating Virus Definitions on an Internal ClamAV Mirror</a>
      </li>
      <li>
        <a href="/addon-antivirus/2-0/upgrade.html">Upgrading</a>
      </li>
      <li>
        <a href="/addon-antivirus/2-0/monitoring-logs.html">Monitoring ClamAV Logs</a>
      </li>
      <li>
        <a href="/addon-antivirus/2-0/troubleshooting.html">Troubleshooting</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
