<p class="note warning"><strong>Warning:</strong> ClamAV Add-on for PCF v<%= product_info['local_product_version'] %> is no longer supported because it has reached the End of General Support (EOGS) phase as defined by the <a href="https://tanzu.vmware.com/support/lifecycle_policy">Support Lifecycle Policy</a>. To stay up to date with the latest software and security updates, upgrade to a supported version.
</p>
