<% if product_info['local_product_version'].to_f >= 2.2 %>
  <p class="note"><em><strong>Note:</strong>
  Pivotal Platform is now part of VMware Tanzu.
  In v2.2 and later,
  <%= vars.product_old %> is named <%= vars.product_full %>.
  </em>
  </p>
<% end %>
