<p class="note warning"><strong>Warning:</strong> Pivotal Anti-Virus and Pivotal Anti-Virus Mirror v<%= product_info['local_product_version'] %> are no longer supported because they have reached the End of General Support (EOGS) phase as defined by the <a href="https://tanzu.vmware.com/support/lifecycle_policy">Support Lifecycle Policy</a>. To stay up to date with the latest software and security updates, upgrade to a supported version.
</p>
